In [6]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("/home/aditya/Desktop/morepe/Modified2_Eta-Aql.csv",usecols=[1,2])
dc = {}

In [24]:
for i in range(len(df["Magnitude"])):
    if df["Magnitude"][i] not in dc.keys():
       dc[df["Magnitude"][i]]= np.array([df["JD"][i]])
    else:
        np.append(dc[df["Magnitude"][i]], df["JD"][i] )

[2402386.0]

              JD  Magnitude
0      2402348.0       3.62
1      2402378.0       3.70
4      2402386.0       4.18
5      2402396.0       3.96
6      2402399.0       3.97
...          ...        ...
31740  2459568.0       3.60
31741  2459569.0       4.10
31742  2459570.0       4.30
31743  2459576.0       3.30
31744  2459582.0       3.80

[4823 rows x 2 columns]